<template>
  <md-card class="md-card-stats" v-if="classEntity">
    <md-card-header data-background-color="orange">
      {{ classEntity.name }}
    </md-card-header>
    <md-card-content>
      <h6 class="category text-gray">Class</h6>
      <div class="md-layout">
        <div class="md-layout-item md-small-size-100 md-size-50">
          <small>Students ({{ classEntity.students.length }})</small>
          <ul class="md-list">
            <li v-for="student in classEntity.students" v-bind:key="student.id">
              <a
                href="#"
                :data-student-id="student.id"
                @click.prevent="clickHandlerStudent"
                >{{ student.name }}</a
              >
            </li>
          </ul>
        </div>
        <div class="md-layout-item md-small-size-100 md-size-50">
          <small>Courses ({{ classEntity.courses.length }})</small>
          <ul class="md-list">
            <li v-for="course in classEntity.courses" v-bind:key="course.id">
              <a
                href="#"
                :data-course-id="course.id"
                @click.prevent="clickHandlerCourse"
                >{{ course.name }}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </md-card-content>
  </md-card>
</template>
<script>
export default {
  name: "class-card",
  data() {
    return {
      classEntity: null
    };
  },
  mounted: function() {
    this.classEntity = this.$parent.class;
  },
  methods: {
    clickHandlerStudent(event) {
      let _this = this;
      let id = event.target.dataset.studentId;
      this.$router.push({ path: "/students/" + id });
    },
    clickHandlerCourse(event) {
      let _this = this;
      let id = event.target.dataset.courseId;
      this.$router.push({ path: "/courses/" + id });
    }
  }
};
</script>
<style></style>
