<template>
  <form>
    <md-card v-if="classEntity">
      <md-card-header :data-background-color="dataBackgroundColor">
        <h4 class="title">Edit Class</h4>
        <p v-bind:v-if="classEntity" class="category">
          Edit {{ classEntity.name }}
        </p>
      </md-card-header>

      <md-card-content>
        <div class="md-layout">
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Name</label>
              <md-input v-model="classEntity.name"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-100 text-right">
            <md-button class="md-raised md-success" @click.prevent="updateClass"
              >Save</md-button
            >
          </div>
        </div>
      </md-card-content>
    </md-card>
  </form>
</template>

<script>
const axios = require("axios");

export default {
  name: "EditClassForm",
  props: {
    dataBackgroundColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      classEntity: null
    };
  },
  mounted: function() {
    this.classEntity = this.$parent.class;
  },
  methods: {
    updateClass() {
      let _this = this;
      axios
        .put(this.classEntity._links.self.href, this.classEntity)
        .then(function(response) {
          _this.$router.push({ path: "/classes" });
        });
    }
  }
};
</script>

<style scoped></style>
