<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <notifications></notifications>

    <side-bar v-if="isLoggedIn">
      <mobile-menu slot="content"></mobile-menu>
      <sidebar-link to="/dashboard">
        <md-icon>dashboard</md-icon>
        <p>Dashboard</p>
      </sidebar-link>
      <sidebar-link to="/students">
        <md-icon>people</md-icon>
        <p>Students</p>
      </sidebar-link>
      <sidebar-link to="/classes">
        <md-icon>folder_shared</md-icon>
        <p>Classes</p>
      </sidebar-link>
      <sidebar-link to="/courses">
        <md-icon>class</md-icon>
        <p>Courses</p>
      </sidebar-link>
      <sidebar-link to="/competences">
        <md-icon>playlist_add_check</md-icon>
        <p>Competences</p>
      </sidebar-link>
      <sidebar-link to="/teachers">
        <md-icon>people_outline</md-icon>
        <p>Teachers</p>
      </sidebar-link>
      <sidebar-link to="/user">
        <md-icon>person</md-icon>
        <p>User Profile</p>
      </sidebar-link>
    </side-bar>

    <div class="" :class="!isLoggedIn ? 'is-login  main-panel' : 'main-panel'">
      <top-navbar v-if="isLoggedIn"></top-navbar>

      <dashboard-content> </dashboard-content>

      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>
<style lang="scss">
.is-login {
  width: 100%;
}
</style>
<script>
import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import DashboardContent from "./Content.vue";
import MobileMenu from "@/pages/Layout/MobileMenu.vue";

export default {
  components: {
    TopNavbar,
    DashboardContent,
    ContentFooter,
    MobileMenu
  },
  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isLoggedIn;
    }
  },
  methods: {
    logout: function() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push("/login");
      });
    }
  }
};
</script>
