<template>
  <form>
    <md-card v-if="student">
      <md-card-header :data-background-color="dataBackgroundColor">
        <h4 class="title">Edit Student</h4>
        <p v-if="student" class="category">
          Edit {{ student.firstName }} {{ student.lastName }}
        </p>
      </md-card-header>

      <md-card-content>
        <div class="md-layout">
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>First Name</label>
              <md-input v-model="student.firstName"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Last Name</label>
              <md-input v-model="student.lastName"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Email</label>
              <md-input v-model="student.email"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-100 text-right">
            <md-button
              class="md-raised md-success"
              @click.prevent="updateStudent"
              >Save</md-button
            >
          </div>
        </div>
      </md-card-content>
    </md-card>
  </form>
</template>

<script>
const axios = require("axios");

export default {
  name: "EditStudentForm",
  props: {
    dataBackgroundColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      student: null
    };
  },
  mounted: function() {
    this.student = this.$parent.student;
  },
  methods: {
    updateStudent() {
      let _this = this;
      axios
        .put(this.student._links.self.href, this.student)
        .then(function(response) {
          _this.$router.push({ path: "/students" });
        });
    }
  }
};
</script>

<style scoped></style>
