<template>
  <md-card class="md-card-stats" v-if="student">
    <md-card-header data-background-color="orange">
      {{ student.firstName }}
    </md-card-header>
    <md-card-content>
      <h6 class="category text-gray">Student</h6>
      <h4 class="card-title">{{ student.firstName }} {{ student.lastName }}</h4>
      <p class="card-description">
        {{ student.email }}
      </p>
      <md-button class="md-round md-success" @click.prevent="sendEmail"
        >Send Email</md-button
      >
    </md-card-content>
  </md-card>
</template>
<script>
export default {
  name: "student-card",
  data() {
    return {
      student: null
    };
  },
  mounted: function() {
    this.student = this.$parent.student;
  },
  methods: {
    sendEmail() {
      window.open("mailto: " + this.student.email, "_blank");
    }
  }
};
</script>
<style></style>
