<template>
  <md-card class="md-card-stats" v-if="course">
    <md-card-header data-background-color="orange">
      {{ course.name }}
    </md-card-header>
    <md-card-content>
      <h6 class="category text-gray">Course</h6>
      <p>{{ course.description }}</p>
      <ul class="md-list">
        <li
          class="md-list-item md-list-item-container"
          v-bind:key="competence.id"
          v-for="competence in course.competences"
        >
          <small class="md-list-item-content"
            ><a
              :data-competence-id="course.id"
              @click.prevent="clickHandlerCompetence"
              >{{ competence.name }}</a
            ></small
          >
        </li>
      </ul>
    </md-card-content>
  </md-card>
</template>
<script>
export default {
  name: "course-card",
  data() {
    return {
      course: null
    };
  },
  mounted: function() {
    this.course = this.$parent.course;
  },
  methods: {
    clickHandlerStudent(event) {
      let _this = this;
      let id = event.target.dataset.studentId;
      this.$router.push({ path: "/students/" + id });
    },
    clickHandlerCompetence(event) {
      let _this = this;
      let id = event.target.dataset.competenceId;
      this.$router.push({ path: "/competences/" + id });
    }
  }
};
</script>
<style></style>
