<template>
  <form>
    <md-card v-if="course">
      <md-card-header :data-background-color="dataBackgroundColor">
        <h4 class="title">Edit Course</h4>
        <p class="category">Edit {{ course.name }}</p>
      </md-card-header>

      <md-card-content>
        <div class="md-layout">
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Name</label>
              <md-input v-model="course.name"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Description</label>
              <md-textarea v-model="course.description"></md-textarea>
            </md-field>
          </div>
          <div class="md-layout-item md-size-100 text-right">
            <md-button
              class="md-raised md-success"
              @click.prevent="updateCourse"
              >Save</md-button
            >
          </div>
        </div>
      </md-card-content>
    </md-card>
  </form>
</template>

<script>
const axios = require("axios");

export default {
  name: "EditCourseForm",
  props: {
    dataBackgroundColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      course: null
    };
  },
  mounted: function() {
    this.course = this.$parent.course;
  },
  methods: {
    updateCourse() {
      let _this = this;
      axios
        .put(this.course._links.self.href, this.course)
        .then(function(response) {
          _this.$router.push({ path: "/courses" });
        });
    }
  }
};
</script>

<style scoped></style>
