<template>
  <router-view></router-view>
</template>

<script>
const axios = require("axios");

export default {
  created: function() {
    let _this = this;
    this.$http.interceptors.response.use(undefined, function(error) {
      return new Promise(function(resolve, reject) {
        let err = error.response;

        if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
          _this.$store.dispatch(logout);
          _this.$router.push("/login");
        }
        throw err;
      });
    });
  },
  methods: {
    logout: function() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push("/login");
      });
    }
  }
};
</script>
