<template>
  <div class="content">
    <md-card>
      <md-card-header data-background-color="green">
        <h4 class="title">Classes</h4>
        <p class="category">All your classes</p>
      </md-card-header>
      <md-card-content>
        <md-table v-model="classes" :table-header-color="tableHeaderColor">
          <md-table-row slot="md-table-row" slot-scope="{ item }">
            <md-table-cell md-label="Name">{{ item.name }}</md-table-cell>
            <md-table-cell md-label="Number of Students">{{
              item.students.length
            }}</md-table-cell>
            <md-table-cell md-label="Number of Courses">{{
              item.courses.length
            }}</md-table-cell>
            <md-table-cell md-label="Created by">{{
              item.createdBy.name
            }}</md-table-cell>
            <md-table-cell md-label="Action">
              <a
                class="md-button md-raised md-primary md-theme-default"
                href="#"
                :data-class-id="item.id"
                @click.prevent="clickHandlerEdit"
              >
                <div class="md-ripple" :data-class-id="item.id">
                  <div class="md-button-content">Edit</div>
                </div>
              </a>
            </md-table-cell>
          </md-table-row>
        </md-table>
      </md-card-content>
    </md-card>
  </div>
</template>

<script>
import store from "@/store";

const axios = require("axios");

export default {
  name: "classTable",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      classes: null
    };
  },
  mounted: function() {
    this.getClasses();
  },
  methods: {
    clickHandlerEdit(event) {
      let _this = this;
      let url = event.target.parentNode.dataset.classId;
      this.$router.push({ path: "classes/" + url });
    },
    getClasses() {
      axios
        .get("http://localhost:8090/classes")
        .then(response => (this.classes = response.data._embedded.classes));
    }
  }
};
</script>
<style scoped></style>
