<template>
  <div class="content">
    <md-card v-if="competences">
      <md-card-header data-background-color="green">
        <h4 class="title">Competences</h4>
        <p class="category">All your competences</p>
      </md-card-header>
      <md-card-content>
        <md-table v-model="competences" :table-header-color="tableHeaderColor">
          <md-table-row slot="md-table-row" slot-scope="{ item }">
            <md-table-cell md-label="Name">{{ item.name }}</md-table-cell>
            <md-table-cell md-label="Number of Goals">{{
              item.goals.length > 0 ? item.goals.length : "0"
            }}</md-table-cell>
            <md-table-cell md-label="Created by">{{
              item.createdBy !== null ? item.createdBy.name : "" }}</md-table-cell>
            <md-table-cell md-label="Action">
              <a
                class="md-button md-raised md-primary md-theme-default"
                href="#"
                :data-competence-id="item.id"
                @click.prevent="clickHandlerEdit"
              >
                <div class="md-ripple" :data-competence-id="item.id">
                  <div class="md-button-content">Edit</div>
                </div>
              </a>
            </md-table-cell>
          </md-table-row>
        </md-table>
      </md-card-content>
    </md-card>
  </div>
</template>

<script>
import store from "@/store";

const axios = require("axios");

export default {
  name: "classTable",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      competences: null
    };
  },
  mounted: function() {
    this.getCompetences();
  },
  methods: {
    clickHandlerEdit(event) {
      let _this = this;
      let url = event.target.parentNode.dataset.competenceId;
      this.$router.push({ path: "competences/" + url });
    },
    getCompetences() {
      axios
        .get("http://localhost:8090/competences")
        .then(
          response => (this.competences = response.data._embedded.competences)
        );
    }
  }
};
</script>
<style scoped></style>
