<template>
  <div class="content">
    <md-card v-if="courses">
      <md-card-header data-background-color="green">
        <h4 class="title">Courses</h4>
        <p class="category">All your courses</p>
      </md-card-header>
      <md-card-content>
        <md-table
          v-if="isLoaded"
          v-model="courses"
          :table-header-color="tableHeaderColor"
        >
          <md-table-row slot="md-table-row" slot-scope="{ item }">
            <md-table-cell md-label="Name">{{ item.name }}</md-table-cell>
            <md-table-cell md-label="Status">{{ item.status }}</md-table-cell>
            <md-table-cell md-label="Created by">{{
              item.createdBy.name
            }}</md-table-cell>
            <md-table-cell md-label="Action">
              <a
                class="md-button md-raised md-success md-theme-default"
                v-if="item._links.complete"
                :href="item._links.complete.href"
                @click.prevent="clickHandlerComplete"
              >
                <div class="md-ripple">
                  <div class="md-button-content">Complete</div>
                </div>
              </a>
              <a
                class="md-button md-raised md-danger md-theme-default"
                v-if="item._links.cancel"
                :href="item._links.cancel.href"
                @click.prevent="clickHandlerCancel"
                ><div class="md-ripple">
                  <div class="md-button-content">Cancel</div>
                </div></a
              >
              <a
                class="md-button md-raised md-primary md-theme-default"
                href="#"
                :data-course-id="item.id"
                @click.prevent="clickHandlerEdit"
              >
                <div class="md-ripple" :data-class-id="item.id">
                  <div class="md-button-content">Edit</div>
                </div>
              </a>
              <a
                class="md-button md-raised md-warning md-theme-default"
                href="#"
              >
                <div class="md-ripple">
                  <div class="md-button-content">Generate</div>
                </div>
              </a>
            </md-table-cell>
          </md-table-row>
        </md-table>
      </md-card-content>
    </md-card>
  </div>
</template>

<script>
const axios = require("axios");

export default {
  name: "courseTable",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      isLoaded: false,
      courses: null
    };
  },
  mounted: function() {
    this.getCourses();
  },
  methods: {
    clickHandlerEdit(event) {
      let _this = this;
      let id = event.target.parentNode.dataset.courseId;
      this.$router.push({ path: "courses/" + id });
    },
    clickHandlerComplete(event) {
      let _this = this;
      let url = event.target.parentNode.href;
      axios.put(url).then(function(response) {
        _this.getCourses();
      });
    },
    clickHandlerCancel(event) {
      let _this = this;
      let url = event.target.parentNode.href;
      axios.delete(url).then(function(response) {
        _this.getCourses();
      });
    },
    getCourses() {
      this.isLoaded = false;
      axios
        .get("http://localhost:8090/courses")
        .then(response => (this.courses = response.data._embedded.courses))
        .then(() => {
          this.isLoaded = true;
        });
    }
  }
};
</script>

<style scoped></style>
