<template>
  <div class="content">
    <md-card>
      <md-card-header data-background-color="green">
        <h4 class="title">Teacher</h4>
        <p class="category">All teachers</p>
      </md-card-header>
      <md-card-content>
        <md-table v-model="teachers" :table-header-color="tableHeaderColor">
          <md-table-row slot="md-table-row" slot-scope="{ item }">
            <md-table-cell md-label="Name">{{ item.name }}</md-table-cell>
            <md-table-cell md-label="Status"
              ><i
                v-if="item.status == 'ACTIVE'"
                class="md-icon md-icon-font text-success"
                >play_arrow</i
              ><i
                v-if="item.status == 'INACTIVE'"
                class="md-icon md-icon-font text-warning"
                >stop</i
              ></md-table-cell
            >
            <md-table-cell md-label="Email">{{ item.email }}</md-table-cell>
            <md-table-cell md-label="Action">
              <a
                class="md-button md-raised md-success md-theme-default"
                v-if="item._links.activate"
                :href="item._links.activate.href"
                @click.prevent="clickHandlerActivate"
              >
                <div class="md-ripple">
                  <div class="md-button-content">Activate</div>
                </div>
              </a>
              <a
                class="md-button md-raised md-danger md-theme-default"
                v-if="item._links.deactivate"
                :href="item._links.deactivate.href"
                @click.prevent="clickHandlerDeactivate"
              >
                <div class="md-ripple">
                  <div class="md-button-content">De-activate</div>
                </div>
              </a>
              <a
                class="md-button md-raised md-primary md-theme-default"
                href="#"
                :data-teacher-id="item.id"
                @click.prevent="clickHandlerEdit"
              >
                <div class="md-ripple" :data-teacher-id="item.id">
                  <div class="md-button-content">Edit</div>
                </div>
              </a>
            </md-table-cell>
            <md-table-cell md-label="File">
              <a
                href="#"
                class="md-button md-raised md-theme-default md-just-icon"
              >
                <div class="md-ripple">
                  <div class="md-button-content">
                    <i class="md-icon md-icon-font">playlist_add_check</i>
                  </div>
                </div>
              </a>
              <a
                href="#"
                class="md-button md-raised md-theme-default md-just-icon"
              >
                <div class="md-ripple">
                  <div class="md-button-content">
                    <i class="md-icon md-icon-font">folder</i>
                  </div>
                </div>
              </a>
            </md-table-cell>
          </md-table-row>
        </md-table>
      </md-card-content>
    </md-card>
  </div>
</template>

<script>
const axios = require("axios");

export default {
  name: "TeacherTable",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      teachers: null
    };
  },
  mounted: function() {
    this.getTeachers();
  },
  methods: {
    clickHandlerEdit(event) {
      let _this = this;
      let id = event.target.parentNode.dataset.teacherId;
      this.$router.push({ path: "teachers/" + id });
    },
    clickHandlerActivate(event) {
      let _this = this;
      let url = event.target.closest("a").href;
      axios.put(url).then(function(response) {
        _this.getTeachers();
      });
    },
    clickHandlerDeactivate(event) {
      let _this = this;
      let url = event.target.closest("a").href;
      axios.delete(url).then(function(response) {
        _this.getTeachers();
      });
    },
    getTeachers() {
      axios
        .get("http://localhost:8090/teachers")
        .then(response => (this.teachers = response.data._embedded.teachers));
    }
  }
};
</script>

<style scoped></style>
