<template>
  <md-card class="md-card-profile">
    <md-card-content>
      <h6 class="category text-gray">Teacher</h6>
      <h4 class="card-title">{{ teacher.name }}</h4>
      <p class="card-description">
        Don't be scared of the truth because we need to restart the human
        foundation in truth And I love you like Kanye loves Kanye I love Rick
        Owens’ bed design but the back is...
      </p>
      <md-button class="md-round md-success">Follow</md-button>
    </md-card-content>
  </md-card>
</template>
<script>
export default {
  name: "teacher-card",
  data() {
    return {
      teacher: null
    };
  },
  mounted: function() {
    this.teacher = this.$parent.teacher;
  }
};
</script>
<style></style>
