<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-100 md-size-66">
        <edit-class-form v-if="isLoaded" data-background-color="green">
        </edit-class-form>
      </div>
      <div class="md-layout-item md-medium-size-100 md-size-33">
        <class-card v-if="isLoaded"> </class-card>
      </div>
    </div>
  </div>
</template>

<script>
const axios = require("axios");

import EditClassForm from "@/pages/ClassView/EditClassForm";
import ClassCard from "@/pages/ClassView/ClassCard";

export default {
  data() {
    return {
      class: null,
      isLoaded: false
    };
  },
  mounted: function() {
    this.getClass();
  },
  methods: {
    getClass() {
      let id = this.$route.params.id;
      axios.get("http://localhost:8090/classes/" + id).then(response => {
        this.class = response.data;
        this.isLoaded = true;
      });
    }
  },
  components: {
    EditClassForm,
    ClassCard
  }
};
</script>

<style scoped></style>
