<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-100 md-size-66">
        <edit-competence-form v-if="isLoaded" data-background-color="green">
        </edit-competence-form>
      </div>
      <div class="md-layout-item md-medium-size-100 md-size-33">
        <competence-card v-if="isLoaded"> </competence-card>
      </div>
    </div>
    <md-dialog :md-active.sync="showGoalDialog" v-if="goal">
      <md-dialog-title
        >{{ goal.name }}
        <small v-if="goal.rubrics.length" class="pull-right"
          >Rubrics</small
        ></md-dialog-title
      >
      <md-dialog-content>
        <div v-if="goal.rubrics.length">
          <div
            class="md-card"
            v-for="rubric in goal.rubrics"
            v-bind:key="rubric.id"
          >
            <div class="md-card-content">
              <h4>{{ rubric.name }}</h4>
              <md-steppers v-if="rubric.rubricMetrics.length">
                <md-step
                  v-for="metric in rubric.rubricMetrics"
                  v-bind:key="metric.id"
                  :md-label="metric.result + '%'"
                  :md-done="false"
                >
                  <h5>{{ metric.name }}</h5>
                  <p>{{ metric.description }}</p>
                </md-step>
              </md-steppers>
              <p v-else>No Metrics added yet.</p>
            </div>
          </div>
        </div>
        <p v-else>No Rubrics added yet.</p>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="showGoalDialog = false"
          >Close</md-button
        >
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>

<script>
const axios = require("axios");

import EditCompetenceForm from "@/pages/CompetenceView/EditCompetenceForm";
import CompetenceCard from "@/pages/CompetenceView/CompetenceCard";

export default {
  data() {
    return {
      competence: null,
      isLoaded: false,
      showGoalDialog: false,
      goal: null
    };
  },
  mounted: function() {
    this.getCompetence();
  },
  methods: {
    getCompetence() {
      let id = this.$route.params.id;
      axios.get("http://localhost:8090/competences/" + id).then(response => {
        this.competence = response.data;
        this.isLoaded = true;
      });
    }
  },
  components: {
    EditCompetenceForm,
    CompetenceCard
  }
};
</script>

<style scoped></style>
