<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-100 md-size-66">
        <edit-course-form v-if="isLoaded" data-background-color="green">
        </edit-course-form>
      </div>
      <div class="md-layout-item md-medium-size-100 md-size-33">
        <course-card v-if="isLoaded"> </course-card>
      </div>
    </div>
  </div>
</template>

<script>
const axios = require("axios");

import EditCourseForm from "@/pages/CourseView/EditCourseForm";
import CourseCard from "@/pages/CourseView/CourseCard";

export default {
  data() {
    return {
      course: null,
      isLoaded: false
    };
  },
  mounted: function() {
    this.getCourse();
  },
  methods: {
    getCourse() {
      let id = this.$route.params.id;
      axios.get("http://localhost:8090/courses/" + id).then(response => {
        this.course = response.data;
        this.isLoaded = true;
      });
    }
  },
  components: {
    EditCourseForm,
    CourseCard
  }
};
</script>

<style scoped></style>
