<template>
  <div class="md-content">
    <div class="md-layout md-alignment-center-center">
      <div class="md-layout-item md-medium-size-100 md-size-25">
        <md-card id="login_form">
          <md-card-header class="" :data-background-color="dataBackgroundColor">
            <h4 class="title">Sign in</h4>
          </md-card-header>

          <md-card-content>
            <span v-if="actionHappened">Something happened</span>
            <form class="login">
              <md-field>
                <label>Email</label>
                <md-input
                  required
                  v-model="email"
                  type="email"
                  placeholder="Your Email..."
                  autocomplete="email"
                ></md-input>
              </md-field>

              <md-field>
                <label>Password</label>
                <md-input
                  required
                  v-model="password"
                  type="password"
                  placeholder="Password"
                  autocomplete="current-password"
                />
              </md-field>
              <md-button
                type="submit"
                @click.prevent="login"
                class="md-raised md-success"
                >Let's go!</md-button
              >
            </form>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "login",
  data() {
    return {
      dataBackgroundColor: "green",
      email: "",
      password: "",
      actionHappened: false
    };
  },
  methods: {
    login: function() {
      let email = this.email;
      let password = this.password;
      this.actionHappened = true;
      this.$store
        .dispatch("login", { email, password })
        .then(() => this.$router.push("/"));
    }
  }
};
</script>

<style scoped>
#login_form {
  margin-top: 50%;
}
</style>
