<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-100 md-size-66">
        <edit-student-form v-if="isLoaded" data-background-color="green">
        </edit-student-form>
      </div>
      <div class="md-layout-item md-medium-size-100 md-size-33">
        <student-card v-if="isLoaded"> </student-card>
      </div>
    </div>
  </div>
</template>

<script>
const axios = require("axios");

import EditStudentForm from "@/pages/StudentView/EditStudentForm";
import StudentCard from "@/pages/StudentView/StudentCard";

export default {
  data() {
    return {
      student: null,
      isLoaded: false
    };
  },
  mounted: function() {
    this.getStudent();
  },
  methods: {
    getStudent() {
      let id = this.$route.params.id;
      axios.get("http://localhost:8090/students/" + id).then(response => {
        this.student = response.data;
        this.isLoaded = true;
      });
    }
  },
  components: {
    EditStudentForm,
    StudentCard
  }
};
</script>

<style scoped></style>
