<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-100 md-size-66">
        <edit-teacher-form v-if="isLoaded" data-background-color="green">
        </edit-teacher-form>
      </div>
      <div class="md-layout-item md-medium-size-100 md-size-33">
        <teacher-card v-if="isLoaded"> </teacher-card>
      </div>
    </div>
  </div>
</template>

<script>
const axios = require("axios");

import EditTeacherForm from "@/pages/TeacherView/EditTeacherForm";
import TeacherCard from "@/pages/TeacherView/TeacherCard";

export default {
  data() {
    return {
      teacher: null,
      isLoaded: false
    };
  },
  mounted: function() {
    this.getTeacher();
  },
  methods: {
    getTeacher() {
      let id = this.$route.params.id;
      axios.get("http://localhost:8090/teachers/" + id).then(response => {
        this.teacher = response.data;
        this.isLoaded = true;
      });
    }
  },
  components: {
    EditTeacherForm,
    TeacherCard
  }
};
</script>

<style scoped></style>
