<template>
  <md-card class="md-card-stats" v-if="competence">
    <md-card-header data-background-color="orange">
      <i class="md-icon md-icon-font md-small-size">calendar_today</i><br />
      <small>
        {{ competence.numberOfLessons }} Lesson<span
          v-if="competence.numberOfLessons > 1"
          >s</span
        ></small
      >
    </md-card-header>
    <md-card-content>
      <h6 class="category text-gray">Competence</h6>
      <h4 class="card-title">{{ competence.name }}</h4>
      <p>{{ competence.description }}</p>
      <md-list>
        <li
          class="md-list-item md-list-item-container"
          v-bind:key="goal.id"
          v-for="goal in competence.goals"
        >
          <a
            class="md-list-item-text"
            @click.prevent="clickHandlerGoal"
            :data-goal-id="goal.id"
            v-if="goal.weight > 0"
            ><div class="md-list-item-content">
              {{ goal.name }}
              <strong class="text-right">({{ goal.weight }}%)</strong>
            </div>
          </a>
        </li>
        <li class="md-list-item">
          <div class="md-list-item-content">
            <small class="text-left">Total:</small>
            <small class="text-right">{{ totalGoalWeight }}%</small>
          </div>
        </li>
      </md-list>
    </md-card-content>
  </md-card>
</template>
<script>
const axios = require("axios");

export default {
  name: "competence-card",
  data() {
    return {
      competence: null,
      showGoalDialog: this.$parent.showGoalDialog
    };
  },
  mounted: function() {
    this.competence = this.$parent.competence;
  },
  methods: {
    clickHandlerStudent(event) {
      let _this = this;
      let id = event.target.dataset.studentId;
      this.$router.push({ path: "/students/" + id });
    },
    clickHandlerCompetence(event) {
      let _this = this;
      let id = event.target.dataset.competenceId;
      this.$router.push({ path: "/competences/" + id });
    },
    calculateTotalWeight() {
      return this.competence.goals.reduce(
        (sum, item) =>
          parseFloat(sum) + (item.weight > 0 ? parseFloat(item.weight) : 0),
        0
      );
    },
    clickHandlerGoal(event) {
      // let _this = this;
      let id = event.target.closest("a").dataset.goalId;
      axios.get("http://localhost:8090/goals/" + id).then(response => {
        this.$parent.goal = response.data;
        this.$parent.showGoalDialog = true;
      });
    }
  },
  computed: {
    totalGoalWeight: function() {
      return this.calculateTotalWeight();
    }
  }
};
</script>
<style lang="scss" scoped></style>
