<template>
  <form>
    <md-card v-if="competence">
      <md-card-header :data-background-color="dataBackgroundColor">
        <h4 class="title">Edit Competence</h4>
        <p class="category">Edit {{ competence.name }}</p>
      </md-card-header>

      <md-card-content>
        <div class="md-layout">
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Name</label>
              <md-input v-model="competence.name"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Description</label>
              <md-textarea v-model="competence.description"></md-textarea>
            </md-field>
          </div>
          <div class="md-layout-item md-size-100">
            <h2>Goals</h2>
          </div>
        </div>
        <div
          class="md-layout"
          v-bind:key="goal.id"
          v-for="(goal, index) in competence.goals"
          :data-goal-index="index"
        >
          <div class="md-layout-item md-size-70">
            <md-field>
              <label>Name</label>
              <md-input v-model="goal.name"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-30">
            <md-field>
              <label>Weight</label>
              <md-input v-model="goal.weight" @keyup="updateWeights"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-100">
            <md-field>
              <label>Description</label>
              <md-textarea v-model="goal.description"></md-textarea>
            </md-field>
            <hr />
          </div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-50 text-left">
            <md-button class="md-raised md-default" @click.prevent="addGoal"
              >New Goal</md-button
            >
          </div>
          <div class="md-layout-item md-size-50 text-right">
            <md-button
              class="md-raised md-success"
              @click.prevent="updateCompetence"
              >Save</md-button
            >
          </div>
        </div>
      </md-card-content>
    </md-card>
  </form>
</template>

<script>
const axios = require("axios");

export default {
  name: "EditCompetenceForm",
  props: {
    dataBackgroundColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      competence: null
    };
  },
  mounted: function() {
    this.competence = this.$parent.competence;
  },
  methods: {
    updateCompetence() {
      let _this = this;
      axios
        .put(this.competence._links.self.href, this.competence)
        .then(function(response) {
          _this.$router.push({ path: "/competences" });
        });
    },
    calculateTotalWeight() {
      return this.competence.goals.reduce(
        (sum, item) =>
          parseFloat(sum) + (item.weight > 0 ? parseFloat(item.weight) : 0),
        0
      );
    },
    updateWeights(event) {
      if (this.calculateTotalWeight() > 100) {
        let target = event.target;
        let index = target.closest(".md-layout").dataset.goalIndex;
        target.value = 0;
        this.competence.goals[index].weight = 0;
      }
    },
    addGoal() {
      this.competence.goals.push({ name: "", description: "", weight: "" });
    }
  },
  computed: {
    totalGoalWeight: function() {
      return this.calculateTotalWeight();
    }
  }
};
</script>

<style scoped></style>
